@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,400;10..48,500&family=Caveat:wght@600&family=Cedarville+Cursive&family=Dancing+Script:wght@600&family=Titillium+Web:wght@600&display=swap");

* {
  margin: 0;
  padding: 0;
  color: white;
  background-color: #081424;
}
a:link {    
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}
.navbar {
  display: flex;
  justify-content: center;
  background-color: rgb(54, 125, 240);
  color: #116a7b;
}

.itm {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  background-color: inherit;
}

.item {
  margin: 0 10px;
  padding: 0vw 2vw;
  font-size: 2vw;
  background-color: inherit;
}

a:hover {
  color: whitesmoke;
}

.profile {
  border-radius: 50%;
  height: 70%;
  width: 70%;
  margin: 4vw;
}

.About {
  display: flex;
  color: white;
}

.flex1 {
  flex: 1;
}

.about {
  padding-top: 2vw;
  text-align: justify;
  margin: 3vw;
  font-size: 2.2vw;
  font-family: "Dancing Script", cursive;
}

.head {
  font-size: 3vw;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}

.skills{
    background-color: inherit;
}

.imgski{
    padding: 3em;
    margin-left: 5em;
    height: 20vw;
    width: 20vw;

}

.skill1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.skill2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}
.skill3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
}

